html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.wrapper-masthead {
  background: #ddd;
  position:fixed;
  margin-bottom: 25px;
  width:100%;
  height: 50px;
  top:0;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 2px 2px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 2px 2px rgba(100, 100, 100, 0.49);
}

.masthead {
  border: none;
  padding: 0;
}

nav {
  padding-top: 12px;
}

.master-container {
  margin-top: 65px;
}

.site-avatar img {
  height: 40px;
  width: 40px;
  border-radius: 0;
}

.site-avatar {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.draft-style {
  color: red;
}

nav {
  margin-top: 0;
  vertical-align: middle;
}

hr {
  margin-bottom: 0;
}

.title {
  margin-top: 15px;
  font-size: 1.35rem;
}

h2 {
  font-size: 1.20rem;
}

p {
  font-size: 1rem;
}

.list-date {
  margin-top: 7px;
}

.tags {
  font-size: 1rem;
}

footer {
  margin-top: -10px;
}

.wrapper-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.pull-footer {
  padding-bottom: 20px;
}

@media screen and (max-width: 640px) {
    nav {
      padding: 0px
    }

    .wrapper-masthead {
      height: 65px;
    }

    .master-container {
      margin-top: 80px;
    }

    .site-avatar {
      position: fixed;
      left: 10px;
      top: 7px;
    }
  }