{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container master-container">
  <div class="searchBox">
    <p>Search:</p>
    <input id="search" type="text">
    <div class="resultsBox">
      <ul id="results"></ul>
    </div>
  </div>
  <section class="section">
      {{ $paginator := .Paginate (where .Data.Pages.Reverse "Type" "post" ) 20 }}
        {{ range sort $paginator.Pages }}
          {{ if (or (gt .Date.Year now.Year) (and (eq .Date.Year now.Year) (ge .Date.YearDay now.YearDay))) }}
            <article>
              {{ partial "post-metadata-list" . }}
            </article>
          {{ end }}
      {{ end }}
  </section>
</div>
{{ partial "paginate-list" . }}
{{ partial "footer" . }}