<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ $subtitle := .Params.subtitle }}
{{ $title := .Params.title }}
{{ $pageDescription := (delimit (slice $title $subtitle) " ") }}
{{ $siteDescription := .Site.Params.Description }}

{{  if $subtitle}}
<meta name="description" content="{{ $pageDescription }}" />
<meta property="og:description" content="{{ $pageDescription }}" />
{{ else }}
<meta name="description" content="{{ $siteDescription }}" />
<meta property="og:description" content="{{ $siteDescription }}" />
{{ end }}

<meta name="author" content="{{ .Site.Params.Author }}" />

<meta property="og:title" content="{{ .Title }}" />
<meta property="twitter:title" content="{{ .Title }}" />

<meta name="google-site-verification" content="Ox1rT6k1J2Fh1VdKQ7NtNvAr1bR0hZxDmf_Y7bmy4XU" />