<!-- supports emoji -->
<h1 class="title"><a href="{{ .Permalink }}">{{ .Title | emojify }}</a>{{ if .Draft }} <small class="draft-style"> - DRAFT</small> {{ end }} 
    <small class="text-muted pull-right list-date">{{ .Date.Format "January 2, 2006" }}</small>
</h1>
<div class="post-metadata">
    <p class="text-muted">
        {{ if in .Params.categories "Music" }}  
            <i class="fa fa-music" aria-hidden="true"></i>&nbsp 
        {{ end }}
        {{ if in .Params.categories "Tech" }}  
            <i class="fa fa-laptop" aria-hidden="true"></i>&nbsp 
        {{ end }}
        {{ .Params.subtitle }}
    </p>
  {{ if .Params.tags }}
    {{ partial "tags" .Params.tags }}
  {{ end }}
</div>
<hr>