{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container master-container card-container">
  <section class="section">
      <div class="card card-inverse card-success mb-3 text-center">
          <div class="card-block">
            <h1 class="card-title">
              {{ $posts := (where .Site.RegularPages "Section" "post") }}
              {{ len $posts }} Events
            </h1>
          </div>
        </div>
    <div class="card card-inverse card-info mb-3 text-center">
      <div class="card-block">
        <h1 class="card-title"><i class="fa fa-tags" aria-hidden="true"></i> Tags</h1>
        <p class="card-text">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li class="tagList"><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a> <span class="badge badge-pill badge-default">{{ len $taxonomy }}</span></li>
          {{ end }}
        </p>
      </div>
    </div>
  </section>
</div>
{{ partial "footer" . }}